<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488723905822-81pa3a13ja348m1qf65p8d6nse4668j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488723905822-81pa3a13ja348m1qf65p8d6nse4668j7</string>
	<key>API_KEY</key>
	<string>AIzaSyBTZcQ4oGR0u7Nq0VJysPhee-t-4q-NMIM</string>
	<key>GCM_SENDER_ID</key>
	<string>488723905822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.origemstudio.patas.dev</string>
	<key>PROJECT_ID</key>
	<string>patas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>patas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488723905822:ios:bf752f046420f516569d0f</string>
</dict>
</plist>